# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/
dist.zip

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local 
*storybook.log
storybook-static
